:root {
  /* Something dark */
  --bg-color: #2D132C;
  /* Contrast to the dark color */
  --primary-color: #EE4540;
  /* Suplimentory to the primary */
  --secondary-color: #C72C41;
  --tertiary-color: #801336;
}

html {
  font-family: 'Encode Sans SC', sans-serif;
  background-color: var(--bg-color);
  color: var(--primary-color);
}

h1 {
  font-size: 300%;
}

h2 {
  font-size: 250%;
}

h3 {
  font-size: 200%;
}

h4 {
  font-size: 150%;
}


